.card {
  margin: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.productcard{
  margin: 15px;
  display: flex;
  justify-content: center;

}

.card2{
  margin: 15px;
  display: flex;
  justify-content: center;
}